<main class="container">
    <h2 class="text-center">NEW POST</h2>
    <hr>
    <div>
        <form action="/admin/blog/newpost" method="post" encType="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Post title" name="title">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="datepost">Date</label>
                    <input type="date" class="form-control" id="datepost" placeholder="Post Date" name="date">
                </div>
                <div class="form-group col-md-6">
                    <label for="datepost">Profile Image</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input name="image" type="file" class="custom-file-input" id="inputGroupFile04"
                                aria-describedby="inputGroupFileAddon04">
                            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="bodypost">Body</label>
                <textarea class="form-control" id="bodypost" rows="3" placeholder="Post Body" name="body"></textarea>
            </div>
            <button type="submit" class="btn btn-dark">Save</button>
        </form>
        {{#if error}}
        <div class="alert alert-dark" role="alert">
            {{message}}
        </div>
        {{/if}}
    </div>
</main>