    <aside>
        <div class="social-bar redes">
            <a class="button flaticon-facebook" href="https://www.facebook.com/irisuniverse1" target="_blank"></a>
            <a class="button flaticon-instagram"href="https://www.instagram.com/irisuniverse1/" target="_blank"></a>
            <a class="button flaticon-youtube"href="#"></a>
            <a class="button flaticon-pinterest-social-logo"href="https://ar.pinterest.com/irisuniverse1" target="_blank"></a>
        </div>
    </aside>    
    <main class="holder">
        <h1>shops</h1>
        <h4>Visit my stores!</h4>
        <div class="shops" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
            <div class="logoshops"><a href="https://society6.com/irisuniverse?curator=irisuniverse" target="_black"><img src="images/chops/society6/descarga.png" alt="logo-society6"></a></div>
            <div class="imagesproducts">
                <div class="imageshop">
                    <img src="images/chops/society6/little-red-riding-hood3168733-masks.jpg" alt="societyp6roduct">
                </div> 
                <div class="imageshop">
                    <img src="images/chops/society6/special-relativity-pattern-black-and-white-shams.jpg" alt="societyp6roduct">
                </div> 
                <div class="imageshop">
                    <img src="images/chops/society6/special-relativity-pattern-can-coolers.jpg" alt="societyp6roduct">
                </div>  
                <div class="imageshop">
                    <img src="images/chops/society6/pillow.jpg" alt="societyp6roduct">
                </div>  
            </div>    
        </div>
        <div class="shops" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
            <div class="logoshops"><a href="https://www.redbubble.com/people/irisuniverse" target="_black"><img src="images/chops/redbbuble/pngegg.png" alt="logo-redbubble"></a></div>
            <div class="imagesproducts">
                <div class="imageshop">
                    <img src="images/chops/redbbuble/work-48323948-throw-pillow.jpg" alt="redbubbleproduct">
                </div> 
                <div class="imageshop">
                    <img src="images/chops/redbbuble/work-49702043-throw-blanket.jpg" alt="redbubbleproduct">
                </div> 
                <div class="imageshop">
                    <img src="images/chops/redbbuble/work-57018246-classic-t-shirt.jpg" alt="redbubbleproduct">
                </div> 
                <div class="imageshop">
                    <img src="images/chops/redbbuble/redbbuble-copia.jpg" alt="redbubbleproduct">
                </div>  
            </div>
        </div>
        <div class="shops" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
            <div class="logoshops flashcookie"><a href="https://iris-universe.flashcookie.com/" target="_blank"><img src="images/chops/flashcookie/descarga.png" alt="logo-flashcookie"></a></div>
            <div class="imagesproducts">
                <div class="imageshop">
                    <img src="images/chops/flashcookie/pillow.jpg" alt="flashcookieproduct">
                </div> 
                <div class="imageshop">
                    <img src="images/chops/flashcookie/sweater.jpg" alt="flashcookieproduct">
                </div> 
                <div class="imageshop">
                    <img src="images/chops/flashcookie/totebag.jpg" alt="flashcookieproduct">
                </div>  
                <div class="imageshop">
                    <img src="images/chops/flashcookie/flashcookie.jpg" alt="flashcookieproduct">
                </div> 
            </div> 
        </div>
    </main>